.container-fluid {
  padding: 3% 8%;
  height: 650px;
  width: 100%;
}

.container-main {
  padding: 7% 10%;
  width: 100%;
}

.content-img {
  width: 50%;
  border-radius: 100%;
}

.main-text {
  padding-top: 5px;
  margin-right: 50px;
  line-height: 2rem;
  font-size: 1.5rem;
}

/* Navbar */
.navbar{
  padding: 0 4.5rem;
  background-color: white;
}
.navbar-brand {
  font-family: “Galada”, cursive;
  font-size: 3.5rem;
  color: #FFACB7;
}
.navbar-brand:hover {
  color: #CC919A;
}

.navbar-brand:hover {
  color: #cc919a;
}

.navbar-nav {
  font-family: “Josefin Sans”, sans-serif;
  font-size: 1.5rem;
}
.nav-link {
  color: #CC919A;
}
.nav-link:hover {
  color: #FFACB7;
}
.fa-bars{
  color: #FFACB7;
}

/* Header Section */
#header{
  background-image: url("Images/hugging-couple.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  text-align: center;
}

.header-section {
  margin-top: 200px;
  color: #ffff;
}

.header-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

.header-sub {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

/* About Section */

.about-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: #6886c5;
}

.about-img-container {
  text-align: center;
}

/* Feature Section  */

/* algorithm feature */
#feature-algorithm {
  background-color: #6886c5;;
  color: white;
  width: 100%;
}

.feature-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

.feature-img {
  margin-left: 15%;
  width: 42%;
  height: 90%;
}

/* Voted the Best Section */

#best-app {
  color: #6886c5;
}

#best-app .feature-img {
  width: 40%;
  height: 93%;
}

/* Footer Section */
footer {
  color: #ffacb7;
}

.socials a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: #ffacb7;
  color: white;
  border-radius: 50%;
  justify-content: center;
  transition: 0.4s;
  font-size: 24px;
  align-items: center;
  position: relative;
  margin-left: 8px;

}

.socials a:hover{
  background:#f77586;
}

.socials a i{
transition: 0.4s all;

}

.socials a:hover > i{
  transform: scale(1.6) rotate(25deg);

}

/* Media Queries */

@media only screen and (max-width: 1024px) {
    .feature-img {
      width: 45%;
      height: 70%;
    }

    #best-app .feature-img {
      width: 50%;
      height: 85%;
    }
}

/* Tablet and Mobile */
@media only screen and (max-width: 990px) {

  .navbar {
    padding: 0 10%;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  .container-main {
    padding-top: 10%;
  }

  .about-title {
    font-size: 4rem;
  }

  .feature-img {
    margin-left: 0;
    width: 25%;
    height: 100%;
  }

  .header-title {
    font-size: 4rem;
  }

  .about-img-container {
    display: none;
  }

  .feature-title {
    font-size: 3rem;
    padding-top: 8%;
  }

  #best-app .feature-img {
    width: 25%;
    height: 100%;
  }

}
