.container-fluid {
  padding: 3% 8%;
  height: 700px;
  width: 100%;
}

.container-main {
  padding: 7% 10%;
  width: 100%;
}

.content-img {
  width: 50%;
  border-radius: 100%;
}

.main-text {
  padding-top: 5px;
  margin-right: 50px;
  line-height: 2rem;
  font-size: 1.5rem;
}

/* Navbar */
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Galada", cursive;
  font-size: 3.5rem;
  color: #ffacb7;
}

.navbar-brand:hover {
  color: #cc919a;
}

.navbar-nav {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
}

.nav-link {
  color: #cc919a;
}

.nav-link:hover {
  color: #ffacb7;
}

.fa-bars{
  color: #ffacb7;
}

/* Header Section */
#header{
  background-image: url("Images/hugging-couple.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.header-section {
  padding: 5% 8%;
  text-align: center;
  color: #ffff;
}

.header-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

.header-sub {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

/* About Section */

.about-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: #6886c5;
}

.about-img-container {
  text-align: center;
}

/* Features  */
#feature-algorithm {
  background-color: #6886c5;;
  color: white;
  width: 100%;
}

.feature-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

.feature-img {
  margin-left: 15%;
  width: 42%;
  height: 90%;
}

/* Voted the Best Section */

#best-app {
  color: #6886c5;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {
    .feature-img {
      height: 60%;
    }
}

/* Tablet and Mobile */
@media only screen and (max-width: 857px) {

  .container-main {
    padding-top: 10%;
  }

  .feature-img {
    margin-left: 0;
    width: 25%;
    height: 100%;
  }

  .header-title {
    font-size: 4rem;
  }

  .about-img-container {
    display: none;
  }

  .feature-title {
    font-size: 3rem;
    padding-top: 8%;
  }
}
