.container-fluid {
    padding: 3% 8%;
    height: 700px;
}

/* Navbar */
.navbar{
    padding: 0 4.5rem;
    background-color: white;
  }
  .navbar-brand {
    font-family: 'Galada', cursive;
    font-size: 3.5rem;
    color: #FFACB7;
  }
  .navbar-brand:hover {
    color: #CC919A;
  }
  .navbar-nav {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
  }
  .nav-link {
    color: #CC919A;
  }
  .nav-link:hover {
    color: #FFACB7;
  }
  .fa-bars{
    color: #FFACB7;
  }

body {
    background-color: #f3e1e1;
  }

p{
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    color: #f5a8a8;
}

h3{
    font-family: 'Galada', cursive;
    text-align: center;
    color: #f9f9f9;
}

h6{
    font-family: 'Galada', cursive;
    text-align: center;
}

label{
    font-family: 'Josefin Sans', sans-serif;
}

.box1 {
    border: 3px solid #aacfcf;;
    border-radius: 7px;
    background-color: #ffe0ac;
}

.box2 {
    border: 3px solid #aacfcf;;
    border-radius: 7px;
    background-color: #ffacb7;
}

.box3 {
    border: 3px solid #aacfcf;
    border-radius: 7px;
    background-color: #6886c5;
}

#header{
    background-image:none;
  }

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
}

.centerForm{
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 990px) {
    .navbar {
      padding: 0 10%;
    }
    .navbar-brand {
      font-size: 2rem;
    }
}